@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = AcceptPortal.Resources.Global.ErrorPageLabel;
}

@using AcceptPortal.Resources;

<hgroup class="title">
    <h1 class="error">@AcceptPortal.Resources.Global.ErrorPageLabel</h1>
    <h2 class="error">@AcceptPortal.Resources.Global.ErrorPageMessage</h2>
</hgroup>
