@model SelectList

<div>
<div class="ui-widget" style="float:left;">
   <input id="txtAddUserToProject" style="width:500px;">
</div>
    <div><input  type="button" class="btn" style="height:25px;font-size:13px;" id="btnAddUserToProject" value="[+]" /></div>
 </div>

<script type="text/javascript">
//TODO:logic around upgrading user accounts and roles.
//var allUsers = @@ Html.Raw(Json.Encode(ViewBag.AllUsers));           
//$("#txtAddUserToProject").autocomplete({
//source: allUsers
//});      
</script>
    

